<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Select and send gifts to your family and friends in other countries">
    <meta name="keywords" content="gift, present, birthday, wedding, gratitude">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
    <!-- header -->
    <header>
        <div class="container header-container">
            <div class="header-inner">
                <!-- <a href="https://placeholder.com"><img src="https://via.placeholder.com/400x150"></a> -->
                <h1 class="header-logo"><a href="../index.html"><a href="https://placeholder.com"><img src="https://via.placeholder.com/30x30"></a></h1>
            </div>
        </div>
    </header>
    <!-- /header -->

    <!-- nav -->
    <nav>
        <div class="container nav-container">
            <ul class="navbar">
                <li>Wedding</li>
                <li>Birthday</li>
                <li>Gratitude</li>
                <li>Customer Review</li>
            </ul>
        </div>
    </nav>
    <!-- /nav -->

    <!-- main -->
    <section class="main">
        <div class="container">
            <main>

            </main>
        </div>
    </section>
    <!-- /main -->

    <!-- footer -->
    <footer>
        <div class="container footer-container">
            <div class="box link-list">
                <ul class="link-list">
                    <li>Wedding</li>
                    <li>Birthday</li>
                    <li>Gratitude</li>
                    <li>Customer Review</li>
                </ul>
            </div>

            <!-- Ask if it's okay to use-->
            <div class="box social-links">
                <ul class="social-links">
                    <li><a href="#"><i class="ion-social-facebook"></i>a</a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i>b</a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i>c</a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i>d</a></li>
                </ul>
            </div>

        </div>
    </footer>
    <!-- /footer -->
</body>
</html>